@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.social-icons {
  color: '#888888'
}

.social-icons:hover {
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.graph {
  background-image: url('/images/graph-paper.svg');
}

.subtle {
  background: rgba(255, 255, 255, 0.7);
}